Makefile
config.log
config.status
json.o
libjsonparser.a
libjsonparser.so
test_json

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015 cache/options directory
.vs/
.vscode
.vscode/**

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og


# *.vcxproj.filters

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap


# Python
*.pyd

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.DLL
*.exe
*.obj

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Add hook files
tmp
tmp/*
0.*
1.*
*.log
